Repository Hybro-Tech/ankhang-crm: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, erb-lint, no-debug

lefthook.yml:

# ============================================
# AnKhangCRM Pre-commit Hooks (Lefthook)
# ============================================
# Installation: gem install lefthook && lefthook install
# ============================================

pre-commit:
  parallel: true
  commands:
    # ==========================================
    # RuboCop Lint (only staged files)
    # ==========================================
    rubocop:
      glob: "*.{rb,rake,ru}"
      exclude: "db/schema.rb|db/migrate/*"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true  # Auto-stage autocorrected files

    # ==========================================
    # ERB Lint (view templates)
    # ==========================================
    erb-lint:
      glob: "*.erb"
      run: bundle exec erblint {staged_files}
      skip: true  # Enable khi cài erb_lint gem

    # ==========================================
    # Security: Check for secrets
    # ==========================================
    secrets:
      run: git diff --cached --diff-filter=ACM | grep -iE "(password|secret|api_key|token)\s*[:=]" && echo "⚠️  Possible secrets detected!" && exit 1 || exit 0

    # ==========================================
    # Prevent debug code
    # ==========================================
    no-debug:
      glob: "*.rb"
      run: |
        git diff --cached --diff-filter=ACM -- {staged_files} | grep -E "(binding\.pry|byebug|debugger|puts\s+['\"])" && echo "⚠️  Debug code found!" && exit 1 || exit 0

pre-push:
  parallel: true
  commands:
    # ==========================================
    # Run RSpec before push
    # ==========================================
    rspec:
      run: bundle exec rspec --fail-fast
      skip: true  # Enable khi muốn chạy tests trước push

    # ==========================================
    # Security scan
    # ==========================================
    brakeman:
      run: bundle exec brakeman -q --no-pager
      skip: true  # Enable khi cài brakeman gem

feat: Redesign contact list with 2-line layout and inline QR codes
  app/views/sales_workspace/_contact_list.html.erb
Due: erb-lint

feat: Add personal settings page with Web Push notification toggle
  app/controllers/settings_controller.rb
  app/javascript/controllers/push_subscription_controller.js
  app/views/settings/show.html.erb
  app/views/shared/_header.html.erb
  app/views/shared/_sidebar.html.erb
  config/routes.rb
  spec/requests/settings_spec.rb
Due: rubocop, erb-lint, no-debug

SECURITY-AUDIT: CanCanCan authorization hardening
  app/controllers/demo_controller.rb
  app/controllers/notifications_controller.rb
  app/controllers/profiles_controller.rb
  app/controllers/push_subscriptions_controller.rb
  app/models/concerns/data_access_rules.rb
  app/models/concerns/permission_mapping.rb
  spec/models/ability_accessible_by_spec.rb
Due: rubocop, no-debug

TASK-RBAC: Add Permissions CRUD with active/inactive toggle
  app/controllers/permissions_controller.rb
  app/models/permission.rb
  app/views/admin/settings/show.html.erb
  app/views/permissions/_form.html.erb
  app/views/permissions/edit.html.erb
  app/views/permissions/index.html.erb
  app/views/permissions/new.html.erb
  app/views/shared/_sidebar.html.erb
  config/locales/vi.yml
  config/routes.rb
  db/cable_schema.rb
  db/cache_schema.rb
  db/migrate/20260206072930_add_active_to_permissions.rb
  db/queue_schema.rb
  db/schema.rb
  db/seeds.rb
Due: rubocop, erb-lint, no-debug

feat(CSKH): Implement CSKH Workspace with Agent Workspace Style
  app/controllers/application_controller.rb
  app/controllers/cskh/workspace_controller.rb
  app/javascript/controllers/workspace_tabs_controller.js
  app/models/concerns/data_access_rules.rb
  app/models/contact.rb
  app/models/interaction.rb
  app/models/setting.rb
  app/views/cskh/workspace/_aftercare_tab.html.erb
  app/views/cskh/workspace/_blacklist_tab.html.erb
  app/views/cskh/workspace/_inspection_tab.html.erb
  app/views/cskh/workspace/show.html.erb
  app/views/shared/_sidebar.html.erb
  config/routes.rb
  db/seeds.rb
Due: rubocop, erb-lint, no-debug
