Repository Hybro-Tech/ankhang-crm: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, erb-lint, no-debug

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

erb-lint:
  run: bundle exec erblint {staged_files}
  skip: true

no-debug:
  run: 'git diff --cached --diff-filter=ACM -- {staged_files} | grep -E "(binding\.pry|byebug|debugger|puts\s+[''\"])" && echo "⚠️  Debug code found!" && exit 1 || exit 0
  
    '

ci: fix mysql docker flags and rubocop config
  .github/workflows/ci.yml
  .rubocop.yml
  Gemfile
  app/controllers/demo_controller.rb
  app/helpers/application_helper.rb
  app/models/permission.rb
  app/models/role.rb
  app/models/role_permission.rb
  app/models/user.rb
  app/models/user_permission.rb
  app/models/user_role.rb
  config/database.yml
  config/environments/production.rb
  config/initializers/devise.rb
  config/locales/vi.yml
  config/routes.rb
  db/cache_schema.rb
  db/queue_schema.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: rubocop, no-debug

feature: base permission
  app/models/permission.rb
  app/models/role.rb
  app/models/user_permission.rb
  db/migrate/20260123152230_fix_permissions_schema.rb
  db/schema.rb
  db/seeds.rb
  docs/planning/sprints/sprint-1-foundation.md
Due: rubocop, no-debug

docs: SRS v2.0 - Smart Routing, Multi-Team, updated contact flow
  docs/AnKhangCRM_SRS_v1.0.md
  docs/AnKhangCRM_SRS_v2.md
  docs/customer_qa.md
  docs/requirements_comparison.md
Due: none

docs: revise master plan v2.0 - new Tet dates, expanded Sprint 2, remove Deals from Phase 1
  README.md
  app/views/shared/_sidebar.html.erb
  db/seeds.rb
  docs/REQUIREMENTS.md
  docs/planning/implementation_plan.md
  docs/planning/master_plan.md
  docs/planning/phase2_notes.md
  docs/planning/sprints/all_tasks_backlog.md
  docs/planning/sprints/sprint-2-core-part1.md
  docs/planning/sprints/sprint-3-core-part2.md
  docs/planning/sprints/sprint-4-finish-features.md
  docs/qa/customer_qa_2026-01-25.md
  docs/requirements/requirements-v2-2026-01-19.md
  docs/requirements/requirements_comparison.md
  docs/srs/AnKhangCRM_SRS_v1.0.md
  docs/srs/AnKhangCRM_SRS_v1.0.pdf
  docs/srs/AnKhangCRM_SRS_v1.0_PDF.md
  docs/srs/AnKhangCRM_SRS_v1.0_PDF.pdf
  docs/srs/AnKhangCRM_SRS_v2.md
Due: rubocop, erb-lint, no-debug

chore: add annotate_models gem and update project rules
  .agent/rules/GEMINI.md
  Gemfile
  Gemfile.lock
  app/models/permission.rb
  app/models/role.rb
  app/models/role_permission.rb
  app/models/user.rb
  app/models/user_permission.rb
  app/models/user_role.rb
  spec/factories/users.rb
  spec/models/user_spec.rb
Due: rubocop, no-debug

feat(auth): complete authentication flow with logging, i18n, ui and system tests
  .agent/rules/ui-mockups.md
  .gitignore
  Procfile.dev
  app/controllers/application_controller.rb
  app/javascript/controllers/password_toggle_controller.js
  app/models/activity_log.rb
  app/models/team.rb
  app/models/user.rb
  app/views/devise/passwords/edit.html.erb
  app/views/devise/passwords/new.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/devise.html.erb
  bin/dev
  config/application.rb
  config/environments/test.rb
  config/initializers/devise.rb
  config/initializers/warden_hooks.rb
  config/locales/devise.vi.yml
  db/migrate/20260125034618_create_teams.rb
  db/migrate/20260125035317_add_devise_fields_to_users.rb
  db/migrate/20260125042150_create_activity_logs.rb
  db/schema.rb
  db/seeds.rb
  docs/implementation_plans/TASK-014.md
  docs/implementation_plans/task_014b_i18n.md
  docs/implementation_plans/verification_auth.md
  docs/planning/sprints/sprint-1-foundation.md
  spec/factories/users.rb
  spec/rails_helper.rb
  spec/support/capybara.rb
  spec/support/factory_bot.rb
  spec/system/authentication_spec.rb
Due: rubocop, erb-lint, no-debug

feat(rbac): add authorization helper, ability specs, and fix Capybara system tests
  app/controllers/application_controller.rb
  app/helpers/application_helper.rb
  app/helpers/authorization_helper.rb
  app/models/ability.rb
  app/models/user.rb
  config/environments/test.rb
  config/initializers/devise.rb
  db/seeds.rb
  spec/factories/permissions.rb
  spec/factories/roles.rb
  spec/factories/users.rb
  spec/helpers/authorization_helper_spec.rb
  spec/models/ability_spec.rb
  spec/support/capybara.rb
  spec/system/authentication_spec.rb
Due: rubocop, no-debug

feat(ui): implement permission matrix UI for roles management
  app/controllers/roles_controller.rb
  app/helpers/roles_helper.rb
  app/models/permission.rb
  app/views/roles/_form.html.erb
  app/views/roles/edit.html.erb
  app/views/roles/index.html.erb
  app/views/roles/new.html.erb
  config/locales/vi.yml
  config/routes.rb
  docs/planning/sprints/sprint-1-foundation.md
  spec/factories/users.rb
  spec/requests/roles_spec.rb
Due: rubocop, erb-lint, no-debug

feat: implement Users CRUD, Roles Matrix UI, and Username login support
  app/controllers/application_controller.rb
  app/controllers/roles_controller.rb
  app/controllers/users_controller.rb
  app/helpers/roles_helper.rb
  app/javascript/controllers/permission_matrix_controller.js
  app/views/demo/index.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/roles/_form.html.erb
  app/views/roles/edit.html.erb
  app/views/roles/index.html.erb
  app/views/shared/_sidebar.html.erb
  app/views/users/_form.html.erb
  app/views/users/edit.html.erb
  app/views/users/index.html.erb
  app/views/users/new.html.erb
  config/environments/test.rb
  config/initializers/devise.rb
  config/routes.rb
  docs/planning/sprints/sprint-1-foundation.md
Due: rubocop, erb-lint, no-debug

fix: repair JS config, fix sign out flow, hide breadcrumbs, and add password toggle in users form
  app/assets/config/manifest.js
  app/javascript/application.js
  app/javascript/controllers/application.js
  app/javascript/controllers/index.js
  app/views/roles/edit.html.erb
  app/views/roles/index.html.erb
  app/views/shared/_sidebar.html.erb
  app/views/users/_form.html.erb
  app/views/users/edit.html.erb
  app/views/users/index.html.erb
  app/views/users/new.html.erb
  config/importmap.rb
  config/initializers/devise.rb
Due: rubocop, erb-lint, no-debug

feat: Implement pagination & permission matrix UI enhancements
  app/controllers/roles_controller.rb
  app/controllers/users_controller.rb
  app/javascript/controllers/checkbox_select_all_controller.js
  app/views/kaminari/_first_page.html.erb
  app/views/kaminari/_gap.html.erb
  app/views/kaminari/_last_page.html.erb
  app/views/kaminari/_next_page.html.erb
  app/views/kaminari/_page.html.erb
  app/views/kaminari/_paginator.html.erb
  app/views/kaminari/_prev_page.html.erb
  app/views/roles/_form.html.erb
  app/views/roles/index.html.erb
  app/views/shared/_pagination_info.html.erb
  app/views/shared/_per_page.html.erb
  app/views/users/index.html.erb
  config/initializers/kaminari_config.rb
  docs/planning/sprints/sprint-1-foundation.md
  spec/requests/roles_spec.rb
Due: rubocop, erb-lint, no-debug

fix: resolve sprint 1 feedback (role cloning, test config, a11y) and apply global linting
  Gemfile
  app/controllers/application_controller.rb
  app/controllers/roles_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/sessions_controller.rb
  app/controllers/users_controller.rb
  app/helpers/application_helper.rb
  app/helpers/roles_helper.rb
  app/models/ability.rb
  app/models/permission.rb
  app/models/role.rb
  app/models/role_permission.rb
  app/models/team.rb
  app/models/user.rb
  app/models/user_permission.rb
  app/models/user_role.rb
  app/views/users/index.html.erb
  config/environments/test.rb
  config/initializers/warden_hooks.rb
  config/routes.rb
  db/seeds.rb
  spec/factories/permissions.rb
  spec/factories/roles.rb
  spec/factories/users.rb
  spec/helpers/authorization_helper_spec.rb
  spec/models/ability_spec.rb
  spec/rails_helper.rb
  spec/requests/roles_spec.rb
  spec/requests/users_spec.rb
  spec/support/capybara.rb
  spec/support/warden.rb
  spec/system/authentication_spec.rb
Due: rubocop, erb-lint, no-debug

docs: update SRS v2.0 with contact unique validation and duplicate handling logic
  docs/srs/AnKhangCRM_SRS_v2.md
Due: none

docs(agent): add Rubocop & RSpec enforcement rules to GEMINI.md and skills
  .agent/rules/GEMINI.md
  .agent/skills/lint-and-validate/SKILL.md
  .rubocop.yml
Due: none

fix(test): resolve HostAuthorization and CSRF issues in RSpec
  .github/workflows/ci.yml
  app/controllers/roles_controller.rb
  app/controllers/users/passwords_controller.rb
  app/controllers/users/sessions_controller.rb
  app/controllers/users_controller.rb
  config/environments/test.rb
  db/seeds.rb
  spec/rails_helper.rb
  spec/system/authentication_spec.rb
Due: rubocop, no-debug

feat: complete Teams & Employees module with M-N schema, table UI, filters and test coverage
  app/controllers/teams_controller.rb
  app/controllers/users_controller.rb
  app/models/team.rb
  app/models/team_member.rb
  app/models/user.rb
  app/views/shared/_sidebar.html.erb
  app/views/teams/_form.html.erb
  app/views/teams/edit.html.erb
  app/views/teams/index.html.erb
  app/views/teams/new.html.erb
  app/views/users/_form.html.erb
  app/views/users/index.html.erb
  config/routes.rb
  db/migrate/20260126143704_create_team_members.rb
  db/schema.rb
  db/seeds.rb
  docs/planning/sprints/sprint-2-core-part1.md
  spec/debug_factory_spec.rb
  spec/factories/teams.rb
  spec/models/team_member_spec.rb
  spec/models/team_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/system/authentication_spec.rb
  spec/system/teams_management_spec.rb
  spec/system/users_management_spec.rb.pending
Due: rubocop, erb-lint, no-debug

feat(holidays): redesign list page with year filter, stats cards and monthly timeline
  app/controllers/holidays_controller.rb
  app/controllers/teams_controller.rb
  app/controllers/users_controller.rb
  app/helpers/holidays_helper.rb
  app/models/ability.rb
  app/models/holiday.rb
  app/views/holidays/_form.html.erb
  app/views/holidays/edit.html.erb
  app/views/holidays/index.html.erb
  app/views/holidays/new.html.erb
  app/views/shared/_sidebar.html.erb
  config/routes.rb
  db/migrate/20260126153840_create_holidays.rb
  db/schema.rb
  db/seeds.rb
  docs/planning/sprints/sprint-2-core-part1.md
  spec/debug_factory_spec.rb
  spec/factories/holidays.rb
  spec/factories/teams.rb
  spec/helpers/holidays_helper_spec.rb
  spec/models/holiday_spec.rb
  spec/models/team_member_spec.rb
  spec/models/team_spec.rb
  spec/models/user_spec.rb
  spec/rails_helper.rb
  spec/requests/holidays_spec.rb
  spec/system/authentication_spec.rb
  spec/system/holidays_management_spec.rb
  spec/system/teams_management_spec.rb
Due: rubocop, erb-lint, no-debug

feat(attendance): implement full Saturday schedule management with CRUD, modal details, and permissions
  app/controllers/saturday_schedules_controller.rb
  app/models/saturday_schedule.rb
  app/models/saturday_schedule_user.rb
  app/models/user.rb
  app/views/saturday_schedules/_form.html.erb
  app/views/saturday_schedules/_modal.html.erb
  app/views/saturday_schedules/edit.html.erb
  app/views/saturday_schedules/index.html.erb
  app/views/saturday_schedules/new.html.erb
  app/views/saturday_schedules/show.html.erb
  app/views/shared/_sidebar.html.erb
  config/locales/vi.activerecord.yml
  config/routes.rb
  db/migrate/20260127021445_create_saturday_schedules.rb
  db/schema.rb
  db/seeds.rb
  docs/implementation_plans/TASK-048.md
  docs/planning/sprints/sprint-2-core-part1.md
  spec/factories/saturday_schedules.rb
  spec/models/saturday_schedule_spec.rb
Due: rubocop, erb-lint, no-debug

feat(contacts): implement Contact CRUD with filters, pick, and real-time phone check (TASK-019/020/021)
  app/controllers/contacts_controller.rb
  app/controllers/service_types_controller.rb
  app/javascript/controllers/filter_form_controller.js
  app/javascript/controllers/phone_check_controller.js
  app/models/ability.rb
  app/models/contact.rb
  app/models/service_type.rb
  app/models/team.rb
  app/models/user.rb
  app/views/contacts/_form.html.erb
  app/views/contacts/edit.html.erb
  app/views/contacts/index.html.erb
  app/views/contacts/new.html.erb
  app/views/contacts/pick.turbo_stream.erb
  app/views/contacts/show.html.erb
  app/views/service_types/_form.html.erb
  app/views/service_types/edit.html.erb
  app/views/service_types/index.html.erb
  app/views/service_types/new.html.erb
  app/views/shared/_sidebar.html.erb
  config/locales/vi.yml
  config/routes.rb
  db/migrate/20260127030000_create_service_types.rb
  db/migrate/20260127030100_create_contacts.rb
  db/schema.rb
  db/seeds.rb
  docs/planning/sprints/sprint-2-core-part1.md
  spec/factories/contacts.rb
  spec/factories/saturday_schedules.rb
  spec/factories/service_types.rb
  spec/models/ability_spec.rb
  spec/models/contact_spec.rb
  spec/models/saturday_schedule_spec.rb
  spec/models/service_type_spec.rb
Due: rubocop, erb-lint, no-debug

feat(dashboard): implement call center dashboard with inline contact creation and RBAC
  app/controllers/contacts_controller.rb
  app/controllers/dashboard_controller.rb
  app/helpers/contacts_helper.rb
  app/helpers/dashboard_helper.rb
  app/views/contacts/create.turbo_stream.erb
  app/views/dashboard/_call_center_stats.html.erb
  app/views/dashboard/_recent_contact.html.erb
  app/views/dashboard/call_center.html.erb
  app/views/dashboard/index.html.erb
  config/locales/vi/datetime.yml
  config/routes.rb
  db/seeds.rb
  spec/helpers/dashboard_helper_spec.rb
  spec/requests/dashboard_spec.rb
  spec/views/dashboard/index.html.tailwindcss_spec.rb
Due: rubocop, erb-lint, no-debug

feat(call-center): add call center dashboard with identity lookup and recent contacts
  app/controllers/application_controller.rb
  app/controllers/contacts_controller.rb
  app/javascript/controllers/call_center_keyboard_controller.js
  app/javascript/controllers/call_center_mode_controller.js
  app/javascript/controllers/identity_lookup_controller.js
  app/javascript/controllers/reset_form_controller.js
  app/models/ability.rb
  app/models/contact.rb
  app/views/contacts/_form_call_center.html.erb
  app/views/contacts/check_identity.turbo_stream.erb
  app/views/contacts/recent.turbo_stream.erb
  app/views/dashboard/_call_center_stats_vertical.html.erb
  app/views/dashboard/_recent_contact_compact.html.erb
  app/views/dashboard/call_center.html.erb
  config/importmap.rb
  config/routes.rb
  db/migrate/20260127044201_create_active_storage_tables.active_storage.rb
  db/migrate/20260127044202_add_zalo_id_to_contacts.rb
  db/schema.rb
  db/seeds.rb
  docs/planning/sprints/sprint-2-core-part1.md
Due: rubocop, erb-lint, no-debug

feat(ui+perms): fix dashboard permission call-center, allow admin contact CRUD, refine UI sidebar/header/form full-width & add zalo qr upload
  app/helpers/application_helper.rb
  app/views/contacts/_form.html.erb
  app/views/contacts/edit.html.erb
  app/views/contacts/index.html.erb
  app/views/contacts/new.html.erb
  app/views/contacts/show.html.erb
  app/views/service_types/edit.html.erb
  app/views/service_types/new.html.erb
  app/views/shared/_sidebar.html.erb
  config/locales/vi.activerecord.yml
  spec/models/contact_spec.rb
Due: rubocop, erb-lint, no-debug

refactor: clean up dashboard controller logic, fix rspec tests, add unique index for zalo_id & resolve all rubocop offenses
  app/controllers/contacts_controller.rb
  app/controllers/dashboard_controller.rb
  app/helpers/application_helper.rb
  app/helpers/contacts_helper.rb
  app/helpers/dashboard_helper.rb
  app/models/ability.rb
  app/models/contact.rb
  db/migrate/20260127082338_add_index_to_contacts_zalo_id.rb
  db/schema.rb
  db/seeds.rb
  spec/helpers/dashboard_helper_spec.rb
  spec/requests/dashboard_spec.rb
  spec/views/dashboard/index.html.tailwindcss_spec.rb
Due: rubocop, no-debug

feat(sales-workspace): Add productivity dashboard with tabs, activity log, and contact management
  app/controllers/contacts_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/sales_workspace_controller.rb
  app/javascript/controllers/workspace_tabs_controller.js
  app/models/contact.rb
  app/views/dashboard/_call_center_dashboard.html.erb
  app/views/dashboard/_sale_dashboard.html.erb
  app/views/dashboard/index.html.erb
  app/views/sales_workspace/_contact_list.html.erb
  app/views/sales_workspace/_contact_preview.html.erb
  app/views/sales_workspace/show.html.erb
  config/routes.rb
  spec/controllers/dashboard_controller_spec.rb
Due: rubocop, erb-lint, no-debug

feat(workspace): Add slide-over modal for contact quick preview
  app/javascript/controllers/slide_over_controller.js
  app/javascript/controllers/workspace_tabs_controller.js
  app/views/sales_workspace/_contact_preview.html.erb
  app/views/sales_workspace/show.html.erb
Due: erb-lint

feat(rbac): add dashboard_type enum to Role and simplify permissions to CRUD-only matrix
  app/controllers/dashboard_controller.rb
  app/controllers/roles_controller.rb
  app/helpers/roles_helper.rb
  app/models/role.rb
  app/models/user.rb
  app/views/roles/_form.html.erb
  config/routes.rb
  db/migrate/20260127154756_add_dashboard_type_to_roles.rb
  db/schema.rb
  db/seeds.rb
Due: rubocop, erb-lint, no-debug

chore(ci): fix rubocop offenses and update dashboard controller specs
  app/controllers/concerns/dashboard_mock_data.rb
  app/controllers/contacts_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/sales_workspace_controller.rb
  spec/controllers/dashboard_controller_spec.rb
Due: rubocop, no-debug

fix: resolve contact uniques errors and dashboard ui issues
  app/controllers/contacts_controller.rb
  app/javascript/controllers/reset_form_controller.js
  app/models/contact.rb
  app/views/contacts/_form_call_center.html.erb
  app/views/contacts/create.turbo_stream.erb
  app/views/contacts/recent.turbo_stream.erb
  app/views/dashboard/_call_center_dashboard.html.erb
  app/views/dashboard/call_center.html.erb
  config/initializers/field_error_proc.rb
  config/locales/vi.activerecord.yml
  db/migrate/20260128021342_change_phone_null_true_in_contacts.rb
  db/schema.rb
Due: rubocop, erb-lint, no-debug

feat(contacts): refine call center role, improve form validation and UI
  app/controllers/contacts_controller.rb
  app/javascript/controllers/identity_lookup_controller.js
  app/javascript/controllers/phone_check_controller.js
  app/models/contact.rb
  app/models/user.rb
  app/views/contacts/_form.html.erb
  app/views/contacts/index.html.erb
  app/views/shared/_sidebar.html.erb
  db/seeds.rb
Due: rubocop, erb-lint, no-debug

ui(sales): redesign contact list, improve 'Pick' UX & fix confirmation dialog
  app/controllers/application_controller.rb
  app/controllers/contacts_controller.rb
  app/controllers/dashboard_controller.rb
  app/helpers/application_helper.rb
  app/models/ability.rb
  app/views/sales_workspace/_contact_list.html.erb
  app/views/sales_workspace/_contact_preview.html.erb
  app/views/shared/_sidebar.html.erb
  db/seeds.rb
  docs/srs/AnKhangCRM_SRS_v3.md
  spec/models/ability_spec.rb
  spec/models/contact_spec.rb
Due: rubocop, erb-lint, no-debug

feat(TASK-023): Contact Detail with Interactions Timeline & Status Progress
  app/controllers/contacts_controller.rb
  app/controllers/interactions_controller.rb
  app/models/ability.rb
  app/models/contact.rb
  app/models/interaction.rb
  app/views/contacts/partials/_status_progress.html.erb
  app/views/contacts/show.html.erb
  app/views/interactions/_form.html.erb
  app/views/interactions/_interaction.html.erb
  app/views/interactions/_timeline.html.erb
  app/views/interactions/create.turbo_stream.erb
  app/views/interactions/destroy.turbo_stream.erb
  app/views/sales_workspace/_contact_list.html.erb
  config/locales/vi.yml
  config/routes.rb
  db/migrate/20260128144822_create_interactions.rb
  db/schema.rb
  docs/implementation_plans/task-023-contact-detail.md
  docs/planning/sprints/sprint-3-core-part2.md
  docs/srs/AnKhangCRM_SRS_v3.md
Due: rubocop, erb-lint, no-debug

feat(TASK-051): implement contact status state machine with UI dropdown
  app/controllers/contacts_controller.rb
  app/models/concerns/status_machine.rb
  app/models/contact.rb
  app/views/contacts/partials/_status_changer.html.erb
  app/views/contacts/partials/_status_progress.html.erb
  app/views/contacts/show.html.erb
  app/views/contacts/update_status.turbo_stream.erb
  config/locales/vi.yml
  config/routes.rb
  docs/implementation_plans/task-051-state-machine.md
Due: rubocop, erb-lint, no-debug

docs: complete Sprint 2 - all 9 tasks done (100%)
  docs/planning/sprints/sprint-2-core-part1.md
Due: none

feat: add Pick Rules Engine with daily limit and cooldown
  app/controllers/contacts_controller.rb
  app/controllers/service_types_controller.rb
  app/models/service_type.rb
  app/services/pick_eligibility_service.rb
  app/views/service_types/_form.html.erb
  db/migrate/20260129020539_add_pick_rules_to_service_types.rb
  db/schema.rb
  docs/planning/sprints/sprint-3-core-part2.md
Due: rubocop, erb-lint, no-debug

feat: Add Smart Routing config - Admin Settings UI, ServiceType visibility interval, SmartRoutingService
  app/controllers/admin/settings_controller.rb
  app/controllers/service_types_controller.rb
  app/helpers/admin/settings_helper.rb
  app/jobs/smart_routing_expand_job.rb
  app/models/contact.rb
  app/models/setting.rb
  app/services/smart_routing_service.rb
  app/views/admin/settings/show.html.erb
  app/views/admin/settings/update.html.erb
  app/views/service_types/_form.html.erb
  app/views/shared/_sidebar.html.erb
  config/routes.rb
  db/migrate/20260129033902_add_smart_routing_to_contacts.rb
  db/migrate/20260129033940_create_settings.rb
  db/migrate/20260129040214_add_visibility_expand_to_service_types.rb
  db/schema.rb
  docs/planning/sprints/sprint-3-core-part2.md
  spec/factories/settings.rb
  spec/helpers/admin/settings_helper_spec.rb
  spec/jobs/smart_routing_expand_job_spec.rb
  spec/models/setting_spec.rb
  spec/requests/admin/settings_spec.rb
  spec/views/admin/settings/show.html.tailwindcss_spec.rb
  spec/views/admin/settings/update.html.tailwindcss_spec.rb
Due: rubocop, erb-lint, no-debug

docs: Add Re-assign approval workflow spec
  docs/planning/sprints/sprint-3-core-part2.md
  docs/srs/AnKhangCRM_SRS_v3.md
Due: none

feat(notifications): implement TASK-057 Basic Notification System (MVP)
  app/controllers/notifications_controller.rb
  app/models/contact.rb
  app/models/notification.rb
  app/models/user.rb
  app/services/notification_service.rb
  app/views/notifications/_dropdown.html.erb
  app/views/notifications/_notification.html.erb
  app/views/notifications/index.html.erb
  app/views/shared/_header.html.erb
  config/routes.rb
  db/migrate/20260129045505_create_notifications.rb
  db/schema.rb
Due: rubocop, erb-lint, no-debug

fix(notifications): respect Smart Routing visibility + add 'Xem thêm' button
  app/services/notification_service.rb
  app/views/shared/_header.html.erb
Due: rubocop, erb-lint, no-debug

refactor(notifications): move notification trigger to SmartRoutingService
  app/models/contact.rb
  app/services/smart_routing_service.rb
Due: rubocop, no-debug

Path conditions:
  rubocop: any of: *.{rb,rake,ru}, but not: db/schema.rb|db/migrate/*
  erb-lint: any of: *.erb
  no-debug: any of: *.rb
