Repository Hybro-Tech/ankhang-crm: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, erb-lint, no-debug

rubocop:
  run: bundle exec rubocop --force-exclusion {staged_files}
  stage_fixed: true

erb-lint:
  run: bundle exec erblint {staged_files}
  skip: true

no-debug:
  run: 'git diff --cached --diff-filter=ACM -- {staged_files} | grep -E "(binding\.pry|byebug|debugger|puts\s+[''\"])" && echo "⚠️  Debug code found!" && exit 1 || exit 0
  
    '

fix(sidebar): super_admin bypasses permission check for sidebar links
  app/helpers/application_helper.rb
Due: rubocop, no-debug

feat(logs): add 'Chi tiết thay đổi' column to show record changes
  app/views/admin/logs/index.html.erb
Due: erb-lint

feat(logs): add detail modal with full log information
  app/controllers/admin/logs_controller.rb
  app/views/admin/logs/index.html.erb
  app/views/admin/logs/show.html.erb
  config/routes.rb
Due: rubocop, erb-lint, no-debug

feat(logging): add Loggable to all business models, skip Devise login fields
  app/models/concerns/loggable.rb
  app/models/holiday.rb
  app/models/notification.rb
  app/models/permission.rb
  app/models/reassign_request.rb
  app/models/role.rb
  app/models/saturday_schedule.rb
  app/models/service_type.rb
  app/models/setting.rb
  app/models/source.rb
  app/models/user.rb
Due: rubocop, no-debug

feat(jobs): add user context to background jobs for activity logging
  app/jobs/application_job.rb
  app/jobs/smart_routing_expand_job.rb
  app/models/current.rb
  app/services/smart_routing_service.rb
Due: rubocop, no-debug

feat(auth): add failed login logging with CustomFailureApp
  app/controllers/users/sessions_controller.rb
  app/helpers/admin/logs_helper.rb
  config/initializers/devise.rb
  config/initializers/warden_hooks.rb
  lib/custom_failure_app.rb
Due: rubocop, no-debug

feat(dashboard): enhance Recent Activities widget with action icons
  app/controllers/dashboard_controller.rb
  app/views/dashboard/_admin_dashboard.html.erb
Due: rubocop, erb-lint, no-debug

fix(auth): only log login on actual authentication, not session restore
  config/initializers/warden_hooks.rb
Due: rubocop, no-debug

feat(logging): add Loggable to join table models
  app/models/role_permission.rb
  app/models/team_member.rb
  app/models/user_permission.rb
  app/models/user_role.rb
Due: rubocop, no-debug

docs(srs): update v3.2 with Activity Logs system, Sprint 4 progress
  docs/srs/AnKhangCRM_SRS_v3.md
Due: none

refactor: extract Contact broadcast logic, replace mock data with real queries
  app/controllers/dashboard_controller.rb
  app/helpers/notification_badge_helper.rb
  app/models/concerns/contact_broadcastable.rb
  app/models/contact.rb
  app/models/setting.rb
  app/services/smart_routing_service.rb
  spec/jobs/smart_routing_expand_job_spec.rb
Due: rubocop, no-debug

feat(TASK-033): Implement email notifications with global toggle
  Gemfile.lock
  app/jobs/reassign_request_notification_job.rb
  app/mailers/crm_mailer.rb
  app/models/contact.rb
  app/models/setting.rb
  app/services/email_notification_service.rb
  app/views/admin/settings/show.html.erb
  app/views/crm_mailer/contact_assigned.html.erb
  app/views/crm_mailer/contact_assigned.text.erb
  app/views/crm_mailer/reassign_approved.html.erb
  app/views/crm_mailer/reassign_approved.text.erb
  app/views/crm_mailer/reassign_rejected.html.erb
  app/views/crm_mailer/reassign_rejected.text.erb
  app/views/crm_mailer/reassign_request_created.html.erb
  app/views/crm_mailer/reassign_request_created.text.erb
  app/views/layouts/crm_mailer.html.erb
  app/views/layouts/crm_mailer.text.erb
  bin/dev
  bin/docker-entrypoint
  bin/jobs
  bin/rails
  bin/rake
  bin/rubocop
  bin/setup
  config/environments/development.rb
  config/environments/production.rb
Due: rubocop, erb-lint, no-debug

feat(TASK-037/38): Reorganize Call Center Dashboard - Tổng đài (form) + Tổng quan (charts)
  app/controllers/dashboard_controller.rb
  app/views/dashboard/_call_center_dashboard.html.erb
  app/views/dashboard/_call_center_overview.html.erb
  app/views/dashboard/index.html.erb
  app/views/shared/_sidebar.html.erb
  config/routes.rb
Due: rubocop, erb-lint, no-debug

feat: Add Region management, User Profile & TomSelect enhancements
  Gemfile
  Gemfile.lock
  app/controllers/profiles_controller.rb
  app/controllers/regions_controller.rb
  app/controllers/users_controller.rb
  app/javascript/controllers/avatar_preview_controller.js
  app/javascript/controllers/tom_select_controller.js
  app/models/ability.rb
  app/models/region.rb
  app/models/user.rb
  app/views/contacts/_form.html.erb
  app/views/contacts/_form_call_center.html.erb
  app/views/layouts/application.html.erb
  app/views/profiles/show.html.erb
  app/views/regions/_form.html.erb
  app/views/regions/edit.html.erb
  app/views/regions/index.html.erb
  app/views/regions/new.html.erb
  app/views/service_types/_form.html.erb
  app/views/shared/_header.html.erb
  app/views/shared/_sidebar.html.erb
  app/views/teams/_form.html.erb
  app/views/users/_form.html.erb
  config/environments/production.rb
  config/importmap.rb
  config/locales/vi.yml
  config/routes.rb
  config/storage.yml
  db/cable_schema.rb
  db/cache_schema.rb
  db/migrate/20260202072848_create_regions.rb
  db/migrate/20260202072906_add_region_and_address_to_users.rb
  db/migrate/20260202080226_change_region_id_nullable_on_users.rb
  db/queue_schema.rb
  db/schema.rb
  spec/controllers/profiles_controller_spec.rb
  spec/controllers/regions_controller_spec.rb
  spec/factories/regions.rb
  spec/models/region_spec.rb
Due: rubocop, erb-lint, no-debug

refactor: Enhance CRUD pages with UI/UX ProMax styling & pagination
  app/controllers/concerns/paginatable.rb
  app/controllers/regions_controller.rb
  app/views/holidays/_form.html.erb
  app/views/regions/_form.html.erb
  app/views/regions/index.html.erb
  app/views/roles/_form.html.erb
  app/views/saturday_schedules/_form.html.erb
  app/views/shared/_pagination.html.erb
  app/views/sources/_form.html.erb
Due: rubocop, erb-lint, no-debug

fix: Update specs and fix Rubocop auto-correctable offenses
  Gemfile
  app/models/interaction.rb
  app/models/team.rb
  config/environments/production.rb
  spec/system/holidays_management_spec.rb
  spec/system/teams_management_spec.rb
Due: rubocop, no-debug

fix: Remove avatar status text after image selection
  app/javascript/controllers/avatar_preview_controller.js
  app/views/profiles/show.html.erb
Due: erb-lint

feat: Display user avatar in header after upload
  app/views/shared/_header.html.erb
Due: erb-lint

fix: Make all form pages full-width within content area
  app/views/holidays/edit.html.erb
  app/views/holidays/new.html.erb
  app/views/profiles/show.html.erb
  app/views/regions/edit.html.erb
  app/views/regions/new.html.erb
  app/views/saturday_schedules/edit.html.erb
  app/views/saturday_schedules/new.html.erb
Due: erb-lint

feat(TASK-042): Add UAT system specs and factory improvements
  spec/factories/users.rb
  spec/system/contacts_flow_spec.rb
  spec/system/dashboard_spec.rb
  spec/system/roles_management_spec.rb
Due: rubocop, no-debug

feat(TASK-043): Add security audit tools and rate limiting
  Gemfile
  Gemfile.lock
  config/initializers/rack_attack.rb
  docs/security_audit_report.md
Due: rubocop, no-debug

docs: Update Sprint 5 - mark TASK-042 and TASK-043 as completed
  docs/planning/sprints/sprint-5-verify-deploy.md
Due: none

refactor: implement audit fixes and code quality improvements
  app/controllers/dashboards/admin_controller.rb
  app/controllers/dashboards/base_controller.rb
  app/controllers/dashboards/call_center_controller.rb
  app/controllers/dashboards/cskh_controller.rb
  app/controllers/dashboards/sales_controller.rb
  app/jobs/reassign_request_notification_job.rb
  app/models/contact.rb
  app/models/setting.rb
  app/queries/contacts_filter_query.rb
  app/queries/dashboard_stats_query.rb
  app/services/notification_service.rb
  app/services/pick_eligibility_service.rb
  app/services/smart_routing_service.rb
  app/views/shared/_kpi_badge.html.erb
  config/locales/vi.yml
Due: rubocop, erb-lint, no-debug

docs(srs): update SRS v3.3 - sync with current codebase
  docs/srs/AnKhangCRM_SRS_v3.md
Due: none

feat: redesign notifications page & fix full-width list layouts
  app/controllers/notifications_controller.rb
  app/models/user.rb
  app/views/notifications/_notification.html.erb
  app/views/notifications/index.html.erb
  app/views/regions/index.html.erb
  app/views/shared/_sidebar.html.erb
  bin/dev
  bin/docker-entrypoint
  bin/jobs
  bin/rails
  bin/rake
  bin/rubocop
  bin/setup
  spec/controllers/notifications_controller_spec.rb
Due: rubocop, erb-lint, no-debug

fix: notification code issues from review
  app/controllers/notifications_controller.rb
  app/jobs/reassign_request_notification_job.rb
  app/models/notification.rb
  app/services/notification_service.rb
Due: rubocop, no-debug

docs: add notification improvements to backlog for future sprint
  docs/planning/remaining-tasks.md
Due: none

docs: add TASK-047 test coverage for Jobs/Services/Mailers to Sprint 5
  docs/planning/remaining-tasks.md
Due: none

chore: fix bin/ permissions + add RBAC dynamic permissions plan
  bin/dev
  bin/docker-entrypoint
  bin/jobs
  bin/rails
  bin/rake
  bin/rubocop
  bin/setup
  docs/implementation_plans/rbac-dynamic-permissions-plan.md
Due: none

feat(rbac): implement dynamic permissions for data filtering and feature access
  app/controllers/contacts_controller.rb
  app/controllers/sales_workspace_controller.rb
  app/models/ability.rb
  app/models/user.rb
  app/views/shared/_sidebar.html.erb
  db/seeds.rb
Due: rubocop, erb-lint, no-debug

refactor(rbac): extract concerns + implement permission caching
  app/models/ability.rb
  app/models/concerns/data_access_rules.rb
  app/models/concerns/permission_mapping.rb
  app/models/concerns/user_authorization.rb
  app/models/role_permission.rb
  app/models/user.rb
  app/models/user_role.rb
Due: rubocop, no-debug

chore: add public/assets to gitignore
  .gitignore
Due: none

fix(sidebar): Fix menu display by role and improve active state logic
  app/helpers/application_helper.rb
  app/views/shared/_sidebar.html.erb
Due: rubocop, erb-lint, no-debug

refactor(logs): Extract filtering and exporting logic to concerns
  app/controllers/admin/logs_controller.rb
  app/controllers/concerns/admin/logs_exporting.rb
  app/controllers/concerns/admin/logs_filtering.rb
  docs/SYSTEM_AUDIT_REPORT_2026_02_03.md
Due: rubocop, no-debug

docs: Mark TASK-037/038/039/040 as Done
  docs/planning/remaining-tasks.md
Due: none

docs: Mark TASK-033 (Email Notifications) as Done
  docs/planning/remaining-tasks.md
Due: none

docs: Mark TASK-043 (Security Audit) as Done
  docs/planning/remaining-tasks.md
Due: none

refactor(sidebar): Tái cấu trúc sidebar theo Pro Max structure
  app/views/shared/_sidebar.html.erb
  docs/planning/remaining-tasks.md
Due: erb-lint

perf(ability): optimize Ability.new from 777ms to 25ms (31x faster)
  app/controllers/application_controller.rb
  app/models/ability.rb
  app/models/concerns/data_access_rules.rb
  app/models/concerns/user_authorization.rb
  config/initializers/bullet.rb
Due: rubocop, no-debug

chore: temporarily disable Bullet gem
  config/initializers/bullet.rb
Due: rubocop, no-debug

Path conditions:
  rubocop: any of: *.{rb,rake,ru}, but not: db/schema.rb|db/migrate/*
  erb-lint: any of: *.erb
  no-debug: any of: *.rb
