Repository Hybro-Tech/ankhang-crm: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, erb-lint, no-debug

lefthook.yml:

# ============================================
# AnKhangCRM Pre-commit Hooks (Lefthook)
# ============================================
# Installation: gem install lefthook && lefthook install
# ============================================

pre-commit:
  parallel: true
  commands:
    # ==========================================
    # RuboCop Lint (only staged files)
    # ==========================================
    rubocop:
      glob: "*.{rb,rake,ru}"
      exclude: "db/schema.rb|db/migrate/*"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true  # Auto-stage autocorrected files

    # ==========================================
    # ERB Lint (view templates)
    # ==========================================
    erb-lint:
      glob: "*.erb"
      run: bundle exec erblint {staged_files}
      skip: true  # Enable khi cài erb_lint gem

    # ==========================================
    # Security: Check for secrets
    # ==========================================
    secrets:
      run: git diff --cached --diff-filter=ACM | grep -iE "(password|secret|api_key|token)\s*[:=]" && echo "⚠️  Possible secrets detected!" && exit 1 || exit 0

    # ==========================================
    # Prevent debug code
    # ==========================================
    no-debug:
      glob: "*.rb"
      run: |
        git diff --cached --diff-filter=ACM -- {staged_files} | grep -E "(binding\.pry|byebug|debugger|puts\s+['\"])" && echo "⚠️  Debug code found!" && exit 1 || exit 0

pre-push:
  parallel: true
  commands:
    # ==========================================
    # Run RSpec before push
    # ==========================================
    rspec:
      run: bundle exec rspec --fail-fast
      skip: true  # Enable khi muốn chạy tests trước push

    # ==========================================
    # Security scan
    # ==========================================
    brakeman:
      run: bundle exec brakeman -q --no-pager
      skip: true  # Enable khi cài brakeman gem

config: allow nport.link hosts for external tunnel access
  config/environments/development.rb
Due: rubocop, no-debug

fix(workspace): Always show pending requests tab for team leaders
  app/views/sales_workspace/show.html.erb
Due: erb-lint

TASK-064: Simplify contact status from 10 to 4 states
  app/controllers/concerns/admin_dashboard_concern.rb
  app/controllers/concerns/sales_kanban_concern.rb
  app/controllers/concerns/sales_workspace_kpis_concern.rb
  app/controllers/dashboard_controller.rb
  app/controllers/dashboards/admin_controller.rb
  app/controllers/dashboards/cskh_controller.rb
  app/controllers/dashboards/sales_controller.rb
  app/controllers/sales_workspace_controller.rb
  app/controllers/service_types_controller.rb
  app/helpers/contacts_helper.rb
  app/models/concerns/status_machine.rb
  app/models/contact.rb
  app/queries/dashboard_stats_query.rb
  app/views/contacts/_contact_row.html.erb
  app/views/contacts/partials/_status_progress.html.erb
  app/views/contacts/pick.turbo_stream.erb
  app/views/sales_workspace/_contact_list.html.erb
  app/views/sales_workspace/_contact_preview.html.erb
  app/views/sales_workspace/show.html.erb
  app/views/service_types/_form.html.erb
  config/locales/vi.yml
  config/routes.rb
  db/cable_schema.rb
  db/cache_schema.rb
  db/migrate/20260204085600_simplify_contact_status.rb
  db/queue_schema.rb
  db/schema.rb
Due: rubocop, erb-lint, no-debug

TASK-066: Implement 3-layer Smart Routing (Team -> Regional -> National)
  app/controllers/service_types_controller.rb
  app/jobs/smart_routing_expand_job.rb
  app/services/smart_routing_service.rb
  app/views/service_types/_form.html.erb
  db/cable_schema.rb
  db/cache_schema.rb
  db/migrate/20260204091507_add_routing_layer_to_contacts.rb
  db/queue_schema.rb
  db/schema.rb
Due: rubocop, erb-lint, no-debug

TASK-066: Layer 1 uses UserServiceTypeLimit instead of Team
  app/controllers/service_types_controller.rb
  app/services/smart_routing_service.rb
  app/views/service_types/_form.html.erb
Due: rubocop, erb-lint, no-debug

TASK-066: Simplify to single ROUTING_EXPAND_MINUTES env variable
  app/services/smart_routing_service.rb
Due: rubocop, no-debug

TASK-064/066: Fix specs for simplified statuses and 3-layer routing
  spec/controllers/sales_workspace_controller_spec.rb
  spec/controllers/teams/reassign_requests_controller_spec.rb
  spec/jobs/smart_routing_expand_job_spec.rb
  spec/models/contact_spec.rb
  spec/services/notification_service_spec.rb
  spec/system/contacts_flow_spec.rb
Due: rubocop, no-debug

style: change main background from bg-gray-50 to bg-white
  .agent/skills/ui-ux-pro-max/scripts/__pycache__/core.cpython-310.pyc
  app/views/admin/solid_cable/show.html.erb
  app/views/admin/solid_cache/show.html.erb
  app/views/admin/solid_queue/completed.html.erb
  app/views/admin/solid_queue/failed.html.erb
  app/views/admin/solid_queue/pending.html.erb
  app/views/admin/solid_queue/scheduled.html.erb
  app/views/admin/solid_queue/show.html.erb
  app/views/dashboard/_admin_dashboard.html.erb
  app/views/dashboard/_call_center_dashboard.html.erb
  app/views/dashboard/_call_center_overview.html.erb
  app/views/dashboard/_cskh_dashboard.html.erb
  app/views/dashboard/_sale_dashboard.html.erb
  app/views/dashboard/call_center.html.erb
  app/views/dashboard/call_center_stats.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/layouts/application.html.erb
  app/views/sales_workspace/kanban.html.erb
  app/views/sales_workspace/show.html.erb
  bin/dev
  bin/docker-entrypoint
  bin/jobs
  bin/rails
  bin/rake
  bin/rubocop
  bin/setup
Due: erb-lint

refactor(forms): apply CRM best practices with consistent card layout, centered buttons, and unified styling
  app/views/contacts/_form.html.erb
  app/views/contacts/_form_call_center.html.erb
  app/views/holidays/_form.html.erb
  app/views/service_types/_form.html.erb
  app/views/teams/_form.html.erb
  app/views/users/_form.html.erb
Due: erb-lint

feat(users): redesign form with Tab-Based layout (UI/UX ProMax)
  app/controllers/users_controller.rb
  app/javascript/controllers/collapse_controller.js
  app/javascript/controllers/nested_form_controller.js
  app/javascript/controllers/tabs_controller.js
  app/models/user.rb
  app/views/users/_form.html.erb
Due: rubocop, erb-lint, no-debug

docs: update sprint files with verified task status
  docs/planning/sprints/sprint-3-core-part2.md
  docs/planning/sprints/sprint-4-finish-features.md
  docs/planning/sprints/sprint-6-smart-routing-v2.md
Due: none

docs: add prioritized remaining tasks tracking file
  docs/planning/remaining-tasks-priority.md
Due: none

docs: mark TASK-060 as Done (already implemented)
  docs/planning/remaining-tasks-priority.md
  docs/planning/sprints/sprint-6-smart-routing-v2.md
Due: none

docs: mark Sprint 6 tasks 061-071 as Done (verified implementation)
  docs/planning/remaining-tasks-priority.md
  docs/planning/sprints/sprint-6-smart-routing-v2.md
Due: none

docs: mark TASK-066 as Done - Sprint 6 100% complete
  docs/planning/remaining-tasks-priority.md
  docs/planning/sprints/sprint-6-smart-routing-v2.md
Due: none

feat: improve SmartRouting + update provinces seed
  app/models/setting.rb
  app/services/smart_routing_service.rb
  db/seeds/provinces.rb
  spec/factories/provinces.rb
  spec/factories/user_service_type_limits.rb
  spec/services/smart_routing_service_spec.rb
Due: rubocop, no-debug

docs: add VAPID keys to .env.example for Web Push setup
  .env.example
Due: none

feat: redesign Province/Region forms + 34 provinces data
  app/controllers/regions_controller.rb
  app/views/provinces/_form.html.erb
  app/views/regions/_form.html.erb
  db/seeds/provinces.rb
Due: rubocop, erb-lint, no-debug

fix: add cursor-pointer to back buttons per UI/UX Pro Max guidelines
  app/views/provinces/_form.html.erb
  app/views/regions/_form.html.erb
Due: erb-lint

fix: add missing Hải Phòng province to complete 34 provinces
  db/seeds/provinces.rb
Due: rubocop, no-debug

fix: region form - use brand-blue consistently, fix toggle switch
  app/views/regions/_form.html.erb
Due: erb-lint

fix: toggle switch styling to match Province form exactly
  app/views/regions/_form.html.erb
Due: erb-lint

fix: toggle circle position - use translate-x-5 to keep circle inside
  app/views/provinces/_form.html.erb
  app/views/regions/_form.html.erb
Due: erb-lint

style: redesign Province form to match system patterns
  app/views/provinces/_form.html.erb
Due: erb-lint

style: Province form full width + UI/UX Pro Max
  app/views/provinces/_form.html.erb
  app/views/provinces/edit.html.erb
  app/views/provinces/new.html.erb
Due: erb-lint

feat: add Tỉnh/Thành link to sidebar under Vùng & Lịch section
  app/views/shared/_sidebar.html.erb
Due: erb-lint

feat: auto-generate Province code from name
  app/models/province.rb
  app/views/provinces/_form.html.erb
Due: rubocop, erb-lint, no-debug

Revert: remove auto-generate code from Province
  app/models/province.rb
  app/views/provinces/_form.html.erb
Due: rubocop, erb-lint, no-debug

feat: auto-generate Region code from name
  app/models/region.rb
  app/views/regions/_form.html.erb
Due: rubocop, erb-lint, no-debug

feat: add round-robin to Smart Routing Layer 1
  app/services/smart_routing_service.rb
Due: rubocop, no-debug

fix: test spec phone uniqueness + verify round-robin working
  app/services/smart_routing_service.rb
  spec/jobs/smart_routing_expand_job_spec.rb
Due: rubocop, no-debug

docs: add Smart Routing 3-layer process documentation
  docs/smart_routing_3_layers.html
  docs/smart_routing_3_layers.md
Due: none

refactor(notifications): extract action_url to NotificationUrlResolver, add WebPush specs
  app/models/notification.rb
  app/services/notification_service.rb
  app/services/notification_url_resolver.rb
  spec/factories/push_subscriptions.rb
  spec/services/web_push_service_spec.rb
Due: rubocop, no-debug

fix(users): resolve service type limits not saving in employee form
  app/controllers/users_controller.rb
  app/javascript/controllers/nested_form_controller.js
  app/services/smart_routing_service.rb
  app/views/sales_workspace/_contact_list.html.erb
  app/views/sales_workspace/show.html.erb
Due: rubocop, erb-lint, no-debug

docs: add SRS v5.0 - sync with current code implementation
  docs/srs/AnKhangCRM_SRS_v5.md
Due: none

docs: add Phase 2 improvement suggestions
  docs/planning/cai-tien-phase-2.md
Due: none

refactor(docs): reorganize folder structure
  docs/README.md
  docs/architecture/database-erd.md
  docs/architecture/smart_routing_3_layers.html
  docs/architecture/smart_routing_3_layers.md
  docs/archive/SYSTEM_AUDIT_REPORT_2026_02_03.md
  docs/archive/requirements/requirements-v2-2026-01-19.md
  docs/archive/requirements/requirements_comparison.md
  docs/archive/security_audit_report.md
  docs/archive/tinh-nang/bao-cao/requirements.md
  docs/archive/tinh-nang/bao-cao/tasks.md
  docs/archive/tinh-nang/co-hoi-ban-hang/requirements.md
  docs/archive/tinh-nang/co-hoi-ban-hang/tasks.md
  docs/archive/tinh-nang/doi-nhom/requirements.md
  docs/archive/tinh-nang/doi-nhom/tasks.md
  docs/archive/tinh-nang/khach-hang/requirements.md
  docs/archive/tinh-nang/khach-hang/tasks.md
  docs/archive/tinh-nang/nhan-vien/requirements.md
  docs/archive/tinh-nang/nhan-vien/tasks.md
  docs/archive/tinh-nang/nhat-ky-hoat-dong/requirements.md
  docs/archive/tinh-nang/nhat-ky-hoat-dong/tasks.md
  docs/archive/tinh-nang/phan-quyen/requirements.md
  docs/archive/tinh-nang/phan-quyen/tasks.md
  docs/archive/tinh-nang/san-pham/requirements.md
  docs/archive/tinh-nang/san-pham/tasks.md
  docs/archive/tinh-nang/thong-bao/requirements.md
  docs/archive/tinh-nang/thong-bao/tasks.md
  docs/archive/tinh-nang/xac-thuc/requirements.md
  docs/archive/tinh-nang/xac-thuc/tasks.md
  docs/archive/tong-quan/co-so-du-lieu/requirements.md
  docs/archive/tong-quan/co-so-du-lieu/tasks.md
  docs/archive/tong-quan/giai-doan/requirements.md
  docs/archive/tong-quan/giai-doan/tasks.md
  docs/archive/tong-quan/gioi-thieu/requirements.md
  docs/archive/tong-quan/gioi-thieu/tasks.md
Due: none

fix: Turbo Drive compatibility for dynamic UI components
  app/views/contacts/_form_call_center.html.erb
  app/views/dashboard/call_center.html.erb
  app/views/regions/_form.html.erb
Due: erb-lint

feat: Fix QR code display and add default avatar in contact modal
  app/controllers/contacts_controller.rb
  app/javascript/controllers/clipboard_controller.js
  app/views/contacts/_form_call_center.html.erb
  app/views/sales_workspace/_contact_preview.html.erb
  config/routes.rb
  db/cable_schema.rb
  db/cache_schema.rb
  db/migrate/20260206032221_add_identity_source_to_contacts.rb
  db/queue_schema.rb
  db/schema.rb
Due: rubocop, erb-lint, no-debug
