Repository Hybro-Tech/ankhang-crm: changes, and which lefthook commands are due for each by the changed paths.
All: rubocop, erb-lint, no-debug

lefthook.yml:

# ============================================
# AnKhangCRM Pre-commit Hooks (Lefthook)
# ============================================
# Installation: gem install lefthook && lefthook install
# ============================================

pre-commit:
  parallel: true
  commands:
    # ==========================================
    # RuboCop Lint (only staged files)
    # ==========================================
    rubocop:
      glob: "*.{rb,rake,ru}"
      exclude: "db/schema.rb|db/migrate/*"
      run: bundle exec rubocop --force-exclusion {staged_files}
      stage_fixed: true  # Auto-stage autocorrected files

    # ==========================================
    # ERB Lint (view templates)
    # ==========================================
    erb-lint:
      glob: "*.erb"
      run: bundle exec erblint {staged_files}
      skip: true  # Enable khi cài erb_lint gem

    # ==========================================
    # Security: Check for secrets
    # ==========================================
    secrets:
      run: git diff --cached --diff-filter=ACM | grep -iE "(password|secret|api_key|token)\s*[:=]" && echo "⚠️  Possible secrets detected!" && exit 1 || exit 0

    # ==========================================
    # Prevent debug code
    # ==========================================
    no-debug:
      glob: "*.rb"
      run: |
        git diff --cached --diff-filter=ACM -- {staged_files} | grep -E "(binding\.pry|byebug|debugger|puts\s+['\"])" && echo "⚠️  Debug code found!" && exit 1 || exit 0

pre-push:
  parallel: true
  commands:
    # ==========================================
    # Run RSpec before push
    # ==========================================
    rspec:
      run: bundle exec rspec --fail-fast
      skip: true  # Enable khi muốn chạy tests trước push

    # ==========================================
    # Security scan
    # ==========================================
    brakeman:
      run: bundle exec brakeman -q --no-pager
      skip: true  # Enable khi cài brakeman gem

feat(notifications): Pool mode sends notification to all sales
  app/services/smart_routing_service.rb
Due: rubocop, no-debug

style(notifications): unread has blue bg + dot, read is normal
  app/controllers/sales_workspace_controller.rb
  app/helpers/roles_helper.rb
  app/models/user.rb
  app/services/notification_service.rb
  app/views/notifications/_notification.html.erb
  app/views/shared/_header.html.erb
  db/migrate/20260129063241_add_code_to_roles.rb
  db/schema.rb
  docs/srs/AnKhangCRM_SRS_v3.md
Due: rubocop, erb-lint, no-debug

feat(notifications): MVP notification system with smart routing toggle
  app/controllers/sales_workspace_controller.rb
  app/controllers/service_types_controller.rb
  app/helpers/admin/settings_helper.rb
  app/services/smart_routing_service.rb
  app/views/service_types/_form.html.erb
  config/routes.rb
  db/migrate/20260129065604_add_use_smart_routing_to_service_types.rb
  db/schema.rb
  spec/factories/settings.rb
  spec/helpers/admin/settings_helper_spec.rb
  spec/jobs/smart_routing_expand_job_spec.rb
  spec/models/setting_spec.rb
  spec/requests/admin/settings_spec.rb
  spec/views/admin/settings/show.html.tailwindcss_spec.rb
  spec/views/admin/settings/update.html.tailwindcss_spec.rb
Due: rubocop, erb-lint, no-debug

feat(ui): add multi-style support (danger/success/info) to confirm dialog and fix Turbo import path
  app/javascript/controllers/application.js
  app/javascript/controllers/confirm_dialog_controller.js
  app/views/devise/registrations/edit.html.erb
  app/views/layouts/application.html.erb
  app/views/service_types/index.html.erb
  app/views/shared/_confirm_dialog.html.erb
  app/views/sources/index.html.erb
  config/locales/vi.yml
  db/seeds.rb
Due: rubocop, erb-lint, no-debug

feat: add timezone settings and fix admin settings UI
  app/models/setting.rb
  app/views/admin/settings/show.html.erb
  config/application.rb
  db/seeds.rb
Due: rubocop, erb-lint, no-debug

fix: timezone settings, button CSS, and smart routing status bug
  app/services/smart_routing_service.rb
  app/views/contacts/_form.html.erb
  app/views/devise/registrations/new.html.erb
  app/views/holidays/_form.html.erb
  app/views/saturday_schedules/_form.html.erb
  app/views/service_types/_form.html.erb
  app/views/sources/_form.html.erb
  app/views/teams/_form.html.erb
Due: rubocop, erb-lint, no-debug

feat(rbac): Complete RBAC refactoring with comprehensive test coverage
  app/controllers/contacts_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/demo_controller.rb
  app/controllers/notifications_controller.rb
  app/controllers/sales_workspace_controller.rb
  app/helpers/authorization_helper.rb
  app/helpers/roles_helper.rb
  app/models/ability.rb
  app/models/concerns/role_codes.rb
  app/models/role.rb
  app/models/role_permission.rb
  app/models/user.rb
  app/models/user_role.rb
  app/services/notification_service.rb
  app/services/smart_routing_service.rb
  app/views/shared/_sidebar.html.erb
  db/seeds.rb
  docs/implementation_plans/rbac-refactoring-plan.md
  spec/controllers/contacts_controller_spec.rb
  spec/controllers/dashboard_controller_spec.rb
  spec/controllers/notifications_controller_spec.rb
  spec/factories/notifications.rb
  spec/helpers/authorization_helper_spec.rb
  spec/helpers/roles_helper_spec.rb
  spec/models/role_permission_spec.rb
  spec/models/user_rbac_spec.rb
  spec/models/user_role_spec.rb
  spec/requests/admin/settings_spec.rb
  spec/requests/dashboard_spec.rb
  spec/services/notification_service_spec.rb
  spec/services/smart_routing_service_spec.rb
  spec/system/authentication_spec.rb
Due: rubocop, erb-lint, no-debug

chore(ui): temporarily hide 'Needs Update' tab and update SRS spec
  app/views/sales_workspace/show.html.erb
  docs/srs/AnKhangCRM_SRS_v3.md
Due: erb-lint

feat(interactions): add appointment scheduling feature
  app/controllers/interactions_controller.rb
  app/javascript/controllers/interaction_form_controller.js
  app/models/interaction.rb
  app/views/contacts/show.html.erb
  app/views/interactions/_form.html.erb
  app/views/interactions/_interaction.html.erb
  config/locales/vi.yml
  db/migrate/20260130025132_add_scheduled_at_to_interactions.rb
  db/schema.rb
Due: rubocop, erb-lint, no-debug

feat(workspace): enhance appointments panel with urgency colors and load more
  app/controllers/sales_workspace_controller.rb
  app/javascript/controllers/infinite_scroll_controller.js
  app/views/sales_workspace/_appointment_item.html.erb
  app/views/sales_workspace/_more_appointments.html.erb
  app/views/sales_workspace/show.html.erb
  config/routes.rb
Due: rubocop, erb-lint, no-debug

fix(appointments): remove day limit - show all future appointments
  app/controllers/sales_workspace_controller.rb
Due: rubocop, no-debug

style(icons): change pick customer icon from hand-pointer to dollar-sign
  app/views/contacts/index.html.erb
  app/views/contacts/show.html.erb
  app/views/sales_workspace/show.html.erb
Due: erb-lint

test(interaction): add comprehensive RSpec tests for appointment feature
  app/controllers/sales_workspace_controller.rb
  spec/factories/interactions.rb
  spec/models/interaction_spec.rb
Due: rubocop, no-debug

fix(specs): add role code field to factories for RBAC authorization checks
  spec/controllers/dashboard_controller_spec.rb
  spec/factories/roles.rb
  spec/factories/users.rb
  spec/helpers/authorization_helper_spec.rb
  spec/models/ability_spec.rb
Due: rubocop, no-debug

fix(specs): add role code field for RBAC + fix rubocop offenses
  .agent/rules/GEMINI.md
  spec/factories/roles.rb
  spec/helpers/authorization_helper_spec.rb
  spec/models/ability_spec.rb
Due: rubocop, no-debug

chore: add SimpleCov for code coverage reporting in CI
  .github/workflows/ci.yml
  Gemfile
  Gemfile.lock
  spec/spec_helper.rb
Due: rubocop, no-debug

chore: migrate to Full Solid stack, remove Redis dependency
  Gemfile
  Gemfile.lock
  config/cable.yml
  db/cable_schema.rb
  docker-compose.yml
  docs/planning/remaining-tasks.md
Due: rubocop, no-debug

feat(TASK-035): Real-time notifications & contact updates with badge sync and UI improvements
  app/assets/tailwind/application.css
  app/channels/application_cable/connection.rb
  app/channels/contacts_channel.rb
  app/channels/notifications_channel.rb
  app/controllers/notifications_controller.rb
  app/javascript/controllers/notification_dropdown_controller.js
  app/models/contact.rb
  app/services/notification_service.rb
  app/views/contacts/_contact_row.html.erb
  app/views/contacts/_form_call_center.html.erb
  app/views/contacts/index.html.erb
  app/views/notifications/_notification.html.erb
  app/views/notifications/dropdown.html.erb
  app/views/sales_workspace/_contact_list.html.erb
  app/views/sales_workspace/_contact_row_broadcast.html.erb
  app/views/shared/_header.html.erb
  docs/planning/remaining-tasks.md
Due: rubocop, erb-lint, no-debug

fix: query appointments from Interaction model to show all scheduled appointments
  app/assets/config/manifest.js
  app/assets/stylesheets/flatpickr.css
  app/controllers/dashboard_controller.rb
  app/controllers/sales_workspace_controller.rb
  app/javascript/controllers/datepicker_controller.js
  app/models/contact.rb
  app/views/admin/settings/show.html.erb
  app/views/dashboard/_sale_dashboard.html.erb
  app/views/holidays/_form.html.erb
  app/views/interactions/_form.html.erb
  app/views/layouts/application.html.erb
  app/views/sales_workspace/_appointment_item.html.erb
  app/views/saturday_schedules/_form.html.erb
  config/importmap.rb
  db/cable_schema.rb
  docs/implementation_plans/datetimepicker_integration.md
  vendor/javascript/flatpickr.js
  vendor/javascript/flatpickr_vn.js
Due: rubocop, erb-lint, no-debug

feat(ui): format phone input (09xx xxx xxx) and support normalized search
  app/javascript/controllers/phone_format_controller.js
  app/models/contact.rb
  app/views/contacts/_form_call_center.html.erb
Due: rubocop, erb-lint, no-debug

feat(smart-routing): add per-contact scheduled jobs and realtime visibility broadcast (TASK-054, TASK-055)
  app/jobs/smart_routing_expand_job.rb
  app/services/smart_routing_service.rb
  spec/jobs/smart_routing_expand_job_spec.rb
Due: rubocop, no-debug

feat(admin): add Solid Stack monitoring dashboards with hidden portal
  Gemfile
  Gemfile.lock
  app/controllers/admin/solid_cable_controller.rb
  app/controllers/admin/solid_cache_controller.rb
  app/controllers/admin/solid_controller.rb
  app/controllers/admin/solid_queue_controller.rb
  app/models/ability.rb
  app/views/admin/solid/index.html.erb
  app/views/admin/solid_cable/show.html.erb
  app/views/admin/solid_cache/show.html.erb
  app/views/admin/solid_queue/show.html.erb
  config/routes.rb
Due: rubocop, erb-lint, no-debug

fix(smart-routing): fix duplicate notifications and realtime broadcast issues
  app/models/contact.rb
  app/services/smart_routing_service.rb
  app/views/sales_workspace/_contact_list.html.erb
  app/views/sales_workspace/show.html.erb
  spec/jobs/smart_routing_expand_job_spec.rb
Due: rubocop, erb-lint, no-debug

feat(admin): add clickable KPI cards with detail views for Solid Queue dashboard
  app/controllers/admin/solid_queue_controller.rb
  app/views/admin/solid_queue/completed.html.erb
  app/views/admin/solid_queue/failed.html.erb
  app/views/admin/solid_queue/pending.html.erb
  app/views/admin/solid_queue/scheduled.html.erb
  app/views/admin/solid_queue/show.html.erb
  config/routes.rb
Due: rubocop, erb-lint, no-debug

chore: update database and cable configuration schemas
  config/cable.yml
  config/database.yml
  db/cable_schema.rb
  db/cache_schema.rb
  db/queue_schema.rb
  db/schema.rb
Due: rubocop, no-debug

feat(web-push): implement VAPID-based Web Push notifications (TASK-056)
  Gemfile
  Gemfile.lock
  app/controllers/push_subscriptions_controller.rb
  app/javascript/controllers/push_subscription_controller.js
  app/models/push_subscription.rb
  app/models/user.rb
  app/services/smart_routing_service.rb
  app/services/web_push_service.rb
  app/views/shared/_header.html.erb
  config/initializers/web_push.rb
  config/routes.rb
  db/migrate/20260131094753_create_push_subscriptions.rb
  public/service-worker.js
Due: rubocop, erb-lint, no-debug

chore: update database schemas after push_subscriptions migration
  db/cable_schema.rb
  db/cache_schema.rb
  db/queue_schema.rb
  db/schema.rb
Due: rubocop, no-debug

fix(web-push): add VAPID env vars to docker-compose
  docker-compose.yml
Due: none

feat(web-push): add notification click redirect with highlight + fix worker network
  app/javascript/controllers/highlight_controller.js
  app/models/notification.rb
  app/services/web_push_service.rb
  app/views/sales_workspace/_contact_list.html.erb
  app/views/sales_workspace/_contact_row_broadcast.html.erb
  app/views/sales_workspace/show.html.erb
  docker-compose.yml
Due: rubocop, erb-lint, no-debug

fix(realtime): improve real-time updates for notifications, contacts, and KPI
  app/services/smart_routing_service.rb
  app/views/notifications/dropdown.html.erb
  app/views/sales_workspace/_contact_row_broadcast.html.erb
  app/views/sales_workspace/show.html.erb
Due: rubocop, erb-lint, no-debug

fix: update specs for refactored reassign_requests controllers
  app/models/ability.rb
  spec/controllers/admin/reassign_requests_controller_spec.rb
  spec/controllers/reassign_requests_controller_spec.rb
  spec/controllers/teams/reassign_requests_controller_spec.rb
Due: rubocop, no-debug

docs: update SRS v3.0 to v3.1 with Sprint 3 completed features
  docs/srs/AnKhangCRM_SRS_v3.md
Due: none

ui: style tab counts with colored badges in Sales Workspace
  app/views/sales_workspace/show.html.erb
Due: erb-lint

fix: resolve Rubocop offenses in controllers, jobs, and models
  app/controllers/teams/reassign_requests_controller.rb
  app/jobs/reassign_request_notification_job.rb
  app/models/push_subscription.rb
Due: rubocop, no-debug

chore: exclude Solid Stack schema files from Rubocop
  .rubocop.yml
  config/routes.rb
Due: rubocop, no-debug

docs: reorganize Sprint 4 tasks - defer ZNS, prioritize Dashboard/Logs/Email
  docs/planning/remaining-tasks.md
  docs/planning/sprints/sprint-4-finish-features.md
Due: none

feat(TASK-037): KPI Dashboard with 5 cards, trends, date filter, and real data
  app/controllers/dashboard_controller.rb
  app/views/dashboard/_admin_dashboard.html.erb
Due: rubocop, erb-lint, no-debug

feat: P1 UI improvements - gamification medals, real pie chart data, better styling
  app/views/dashboard/_admin_dashboard.html.erb
Due: erb-lint
